<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap DataTable</title>
    <th:block th:insert="~{fragments/header :: link}"></th:block>
    <link th:rel="stylesheet" th:href="@{/webjars/datatables/1.10.24/css/jquery.dataTables.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/noty/3.1.4/lib/noty.css}"/>

    <th:block th:insert="~{fragments/header :: script}"></th:block>

    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.24/js/jquery.dataTables.js}"></script>
    <script th:src="@{/webjars/noty/3.1.4/lib/noty.js}"></script>
    <script href="/js/script.js" th:src="@{/js/script.js}" defer></script>
</head>

<body>
<nav th:replace="fragments/header :: navbar"></nav>

<div class="container">
    <div class="row">
        <div class="col-xl-12 mt-2 mb-5">
            <div class="mb-3">
                <button id="create" type="button" class="btn btn-success mx-2">Create row</button>
                <button id="update" type="button" class="btn btn-warning mx-2">Update row</button>
                <button id="delete" type="button" class="btn btn-danger mx-2">Delete row</button>
            </div>
            <table id="accounts" class="table table-bordered table-responsive" style="width: 100%">
                <thead>
                <tr>
                    <th>id</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>Balance</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>id</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>Balance</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<nav th:replace="fragments/modal :: modal"></nav>

<footer th:replace="fragments/footer :: navbar"></footer>

</body>
</html>
